.venv/
venv/
env/
source/
.idea/
.vscode/
__pycache__/
*.pyc

# Ignore all databases and parquet datasets
*.db
*.sqlite
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.db-wal
*.db-shm
*.parquet
data/*.db
src/data/*.db
.app_state.json